.row{
   margin: 0;
   padding: 0;
}
.card{
   width: 18rem;
   margin: 1em;
}
.trending{
   margin-top: -1.8em;
}
nav{
   background-color:rgb(218, 17, 17);
   font-family: serif;

}
.btn{
   background-color: red;
   border: red;
}
footer{
   background-color: black;
   color:white;
}
.carousel{
   margin-bottom: 5em !important;
}